.top-level {
  background-color:blue;
  img{
    width: 100%;
    clear:both;
  }
}

.media-level{
  margin-top:15px;
  background-color: purple;
}


div{
  .lookup{
    background-color: #0f0f0f;
    color: #0f0f0f;
  }
}

div{
  .top-section{
  }
}
