.top-level {
  background-color:blue;
  img{
    width: 100%;
    clear:both;
  }
}

.media-level{
  margin-top:15px;
  background-color: purple;
}

.information-level{
  margin-top:20px;
  background-color:#E3C691;
  margin-bottom:20px;
}

.store-plugin{
  margin-top:15px;
  margin-bottom:20px;
}

.characters{
  margin-top:20px;
  margin-bottom:20px;
  background-color:blue;
}

.city-swirl{
  color:blue;
  margin-top:20px;
  margin-bottom:20px;
  padding:0;
  background-color:blue;
  z-index: 999;
}

div{
  .lookup{
    background-color: #0f0f0f;
    color: #0f0f0f;
  }
}

.snippet{
  background-color:purple;
  margin-bottom:10px;
}

div{
  .top-section{
  }
}

.extra{
  margin-bottom:20px;
  background-color: deepskyblue;
}

.extra-content{
  margin-top:10px;
}

.extra-snippet{
  margin-bottom:20px;
}

.meet{
  margin-top:20px;
  margin-bottom:20px;
  background-color:pink;
}

.footer-fall{
  background-color:purple;
}

.footer-content{
  margin-top:-10px;
}