.top-widgets{
    margin-top:20px;
    margin-bottom:50px;
}

.media-screenshots{
  margin-top:20px;
  padding:0;
}
.media-section{
  margin-top:20px;
}
.media-image{
  margin:15px;
}
.acolytes{

}
div{
  .snippet-content {
      margin-top: 30px;
  }
}

.text-snippet{
  margin-bottom:50px;
}

  .acolyte-media{
    margin:20px;
  }

  .paginator-center{
    position: relative;
    float: right;
    margin-bottom: 20px;

    li{
      margin-top: 20px;
      position: relative;
      float: left;
      margin-right: 20px;
    }
  }

  .slick-prev:before{
    color: red;
    background-color:white;
    border-radius:15px;
    font-size: 30px;
  }

  .slick-next:before {
    color: red;
    background-color:white;
    border-radius:15px;
    font-size: 30px;
  }
.extra-image{
  margin-bottom:10px;
}

.meet-content{
  margin-top:20px;
}

.right-meet{
  margin-bottom:50px;
}

.meet-panel{
  margin-bottom:20px;
}

.footer-fall-content{
  margin-top:30px;
}

.footer-dev-credit{
  margin-bottom:10px;
}

.media-snippet{
  margin-bottom:20px;
}

.text-snippet{
}